version: '1'
services:
    backend:
        build: 
          context: backend
        stop_signal: SIGINT
        ports:
          - 8000:8000
        environment:
          FLASK_APP: backend.py
        restart: always
        networks:
          - db_net
          - was_net
        volumes:
          - ~/.aws/:/root/.aws/:ro
          
    db:
        build: 
          context: db
        stop_signal: SIGINT
        ports:
          - 3306:3306
        restart: always
        networks:
          - db_net
        volumes:
          - db_vol:/var/lib/mysql

    proxy:
      # proxy 폴더 밑에가서 Dockerfile을 찾아서 빌드
      build: proxy
      # 재가동 옵션
      restart: always
      # 포트 설정, Dockerfile 내에 EXPOSE 미사용
      ports:
        - 80:80
      # 네트워크 
      networks:
      - was_net

#    gpt:
#        build: 
#          context: chat_gpt
#        stop_signal: SIGINT
#        ports:
#          - 5000:5000
#        environment:
#          FLASK_APP: gpt_plugin.py
#        restart: always
#        networks:
#          - db_net
#        volumes:
#          - ~/.aws/:/root/.aws/:ro
#        

networks:
    db_net:
    was_net:

volumes:
    db_vol: