{% extends "main.html" %}

{% block content %}

<style>
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'S-CoreDream-3Light';
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'S-CoreDream-3Light';
    background-color: #F5D5E0;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #F29B9B;
    color: #fff;
}
h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}
#mgtiimg {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
}

.highlight {
    background-color: pink;
    display: inline-block;
    padding: 0 10px;
    line-height: 0.5;
}

#frame{
    position: absolute;
    width:100%;
    height: 1000px;
    margin-top: 150px;
    padding:150px;
    position:relative;
}
</style>

    <div id="frame">
        <title>나의 멍BTI는?</title>
        <h1><span class="highlight">나의 MGTI는?</h1>
        <img id="mgtiimg" src="https://firebasestorage.googleapis.com/v0/b/chubinibini.appspot.com/o/cloud%2Ffree-icon-pawprint-4063510.png?alt=media&token=7001cf20-884b-48a1-a98d-0a270f2fd1d8">
        <p>나의 MGTI에 맞는 강아지를 찾고 싶니?</p>
        <button type="button" class="navyBtn" onClick="location.href='/appeal/mgti_ing'">시작</button>
    </div>
{% endblock %}